#mainico {
  width:75px;
  height:75px; 
  border: 2px solid rgb(255, 255, 255); 
  border-radius: 50%;
}
#spinner {
  position: fixed;
  top: 50%;
  left: 40%;
}

.greentext {
  color: #748d76;;
}
.greenbg {
  background-color: #bdddbf;
}
body {
    padding-top: 1.5rem;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.fade-out{
  opacity: 0.5;
}

.hightmax {
  height: 95%;
}
.divheader {
  font-size: x-large; 
  font-weight:600;
}
