{% extends "main/layout.html" %}
{% block main %}
<div class="row">
<div class="mt-4 col-md-10">
    <form class="p-4 mb-3 bg-light rounded" action="{% url 'main:contact' %}" method="POST">
      {% csrf_token %}      
      <div class="mb-4 border-bottom">
        <p class="greentext" style="font-size:x-large">Contact Us</p>
        <p class="greentext">Any questions, comments, suggestions? Please email us using the form below.</p>
      </div>
      {% include 'main/messages.html' %}
      {% for field in cform %}
      <div class="mb-3">
        {{ field.errors }}
        {{ field.label_tag }} 
        {{ field }}
        {% if field.help_text %}
        <p class="form-text">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
      {% endfor %}
      <button id="submit-contact" type="submit" class="btn greenbg">Submit</button>
    </form>
</div>
</div>
{% endblock %}